[Unit]
Description=Square's distributed currency daemon
After=network.target

[Service]
User=squarecore
Group=squarecore

Type=forking
PIDFile=/var/lib/squared/squared.pid
ExecStart=/usr/bin/squared -daemon -pid=/var/lib/squared/squared.pid \
-conf=/etc/squarecore/square.conf -datadir=/var/lib/squared -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
